.header {
    background-color: white;

    display: inline-flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 4vh;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 1.3em;
    border: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgb(211, 212, 221);
}

.img {
    width: 40px;
    display: inline-flex;
    align-items: center;
}

.imgduck {
    display: inline-flex;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: center;

}

.buttons a {
    text-decoration: none;
    color: rgb(86, 129, 170);
    margin-right: 1em;

    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    display: inline-flex;
    align-items: center;
    padding: 10px 15px 10px 15px;

    transition: background-color 0.2s, color 0.2s, opacity 0.2s;
}

.buttons a:hover {
    background-color: rgb(86, 129, 170);
    color: white;
}

.buttons a:active {
    opacity: 0.6;
}

#active {
    background-color: rgb(86, 129, 170);
    color: white;
}

.instagram-icon {
    width: 40px;
    margin-right: 5vw;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
}

/* ---------------------------------------- */

* {
    font-family: Roboto, Arial;
}

body {
    box-sizing: border-box;
/*     background-color: rgb(219, 216, 216);*/
    margin: 0;
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: ".main .sidebar";
}

.main {
    background-color: white;

    padding-bottom: 10px;   

    border-radius: 4px;
}

.title-text {
    text-align: center;
    border-bottom: solid rgba(86, 129, 170, 0.4) 2px;
    font-weight: 700;
}

h1 {
    padding-top: 0.5em;
    padding-bottom: 1.1vh;
    padding-left: 1.5em;

}

h2 {
    padding-left: 1vw;
}

h3 {
    padding-left: 1vw;
}

p {
    padding-left: 1vw;
}

.sidebar {
    background-color: white;
}

.ad1 {
    width: 100%;
    margin-top: 4vh;
}

.page-cv {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "header-cv picture-cv"
    "main-cv contact-cv"
    "main-cv sidebar-cv";
}

.page-cv h1 {
    padding: 0;
    padding-top: 2vw;
    padding-left: 2vw;
    margin: 0;
}

.page-cv p {
    padding-right: 5px;
}

.header-cv {
    grid-area: header-cv;
    display: flex;
}

.picture-cv {
    grid-area: picture-cv;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.portrait-cv {
    width: 100px;
    border-radius: 50%;
}

.contact-cv {
    text-align: center;
}

.contact-cv p {
    padding: 0;
}

.answer-cv {
    font-weight: 200;
}

.question {
    font-weight: 700;
}

.main-cv {
    grid-area: main-cv;
}

.job-desc {
    padding-left: 4vw;
}

.sidebar-cv {
    grid-area: sidebar-cv;
    text-align: center;
    display: block;
}

.sidebar-cv h2 {
    padding-right: 4px;
}

.sidebar-cv p {
    display: flex;
    justify-content: center;
}

.sidebar h2 {
    size: 0.8em;
}

.job-text {
    padding: 5vw;
}

.project-link {
    color: rgb(86, 129, 169);
    background-color: white;
    margin-top: 8px;
    border-style: solid;
    border-color: rgb(86, 129, 170);
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    transition: background-color 0.4s, color 0.4s, opacity 0.4;;
}

.project-link:hover {
    background-color: rgb(86, 129, 170);
    color: white;
}

.project-link:active {
    opacity: 0.7;
}

.motivation-quote {
    font-family: Caveat, Arial;
    font-weight: 100;
    font-size: 2em;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    background-color: white;
    width: 80%;
    max-width: 100%;
    padding: 14px;
    border-radius: 20px;
}

#game-area p {
    font-size: 16px;
}

@media screen and (max-width: 1100px) {
    
    body {
        margin-right: 5vw;
        margin-left: 5vw;
    }

}

@media screen and (max-width: 640px) {
    
    body {
        margin-top: 16vh;
        margin: 0;
    }

    .header {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin-bottom: 14vh;
    }

    .buttons {
        margin: 1em;
    }

    .img {
        display: inline-flex; 
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .instagram-icon {
        display: inline-flex; 
        align-items: center;
        margin: 0;
    }

}

@media screen and (max-width: 560px) {
    
    body {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-areas: "header" "page";
        margin: 0;
        height: auto;
        
    }

    .header {
        position: relative;
        margin-bottom: 20em;
    }

    .buttons {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons a {
        width: 20%;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
        margin-bottom: 0.4em;
    }

    .page {
        display: flex;
        flex-direction: column-reverse;
    }

    html {
        margin: 0;
        padding: 0;
    }

    .sidebar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .ad1 {
        width: 70vw;
    }

    .header {
        width: 90vw;
    }

    .main {
        font-size: 6vw;
        
    }

    #portfolio-target p{
        width: 100vw;
    }

}